@import "tailwindcss";

@theme {
    --animate-fadein:fadein 1000ms ease-out;

    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    --animate-translate:translate 500ms ease-out;

    @keyframes translate {
        0% {
            right: -288px;
        }
        100% {
            right: ' ';
        }
    }
}